/* Reset de estilos básicos */
body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}
body {
    background-image: url('fondo.jpg'); /* Reemplaza 'fondo.jpg' con el nombre de tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el cuerpo */
    background-position: center; /* Centra la imagen en el cuerpo */
}

.section {
    background-image: url(../imagenes/ALEGRIA.jpeg);
     background-repeat: no-repeat;
}
header {
    background-color: #0a22f8;
    color: #000000;
    padding: 30px;
    text-align: center;
}

nav ul {
    list-style: none;
    text-align: center;
    background-color: #b64242;
    padding: 10px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #131313;
}

main {
    padding: 20px;
}

.destino {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #469392;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.destino img {
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #b64242;
  border: #57d6bb;
}