/* Reset de estilos básicos */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

header {
    background-color: #0a22f8;
    color: #000000;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    text-align: center;
    background-color: #20d90c;
    padding: 10px;
}

nav li {
    display: inline;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: #131313;
}

main {
    padding: 20px;
}

.destino {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #469392;
    border: 1px solid #520e0e;
    border-radius: 5px;
}

.destino img {
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #259913;
  border: #024e3d;
}