/* Reset de estilos básicos */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    text-align: center;
    background-color: #444;
    padding: 10px;
}

nav li {
    display: inline;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

.destino {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.destino img {
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
  border: #57d6bb;
}